<% @page_heading = _('New article') %>

<%= render "admin/shared/edit", { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>


<form action="admin/merge/#{article.id}" name="Merge Articles">
    <label for="merge_with">Article ID</label>
    <input type="text" id="merge_with"><br>
    <input type="submit" value="Merge">
</form>